<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">

    <title>Шримад Бхагаватам. Неизреченная Песнь Безусловной Красоты</title>
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="screen" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/fancy.css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/about.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.jScale.js"></script>
  </head>

  <body>
      <div id="books-menu">
          <ul>
              <li><a href="book.html#Lections/34"><img src="images/button_book10.png" /></a></li>
          </ul>
      </div>

      <div id="main">
          <div id="sb_menu">
              <ul>
                  <li><a href="about_sb.html">О Шримад Бхагаватaм</a></li>
                  <li><a href="about.html" class="active">О диске</a></li>
                  <br />
              </ul>
          </div>

          <div id="stuff">
              <div id="content" class="about">
                  <h3> О переводчике </h3>
                  <p>
                      &nbsp;&nbsp;&nbsp;Переводчик и автор многочисленных комментариев к древним санскритским текстам Александр Драгилев (в монашестве Шрипад Бхакти Чайтанья Бхарати Свами) стал известен широкому кругу читателей благодаря неординарному восприятию и трактовке как высоких философских истин, так и явлений и событий, окружающих нас в повседневной жизни. Необычная судьба, острый ум и врожденный поэтический дар сплелись в этой личности в причудливый узор. Он открывает непредвзятому читателю то сокровенное и столь желанное богатство, что хранится под семью печатями в древнем храме по имени Веды.
                      <br/>
                      &nbsp;&nbsp;&nbsp;На протяжении последних нескольких лет Бхарати Свами занимается переводом на русский язык Шримад Бхагаватам и книг Б.Р. Шридхара Свами. Им были переведены и изданы книги «Субъективная эволюция сознания», «Бхагавад Гита - Невиданное Сокровище Безусловной Красоты», «Слово Хранителя Преданности».
                      <br/>
                      &nbsp;&nbsp;&nbsp;Бхарати Свами регулярно проводит интернет-конференции, которые проходят в форме живого общения.
                  </p>
                  <br />
                  Продолжение аудиоверсии 10 книги в исполнении заслуженного артиста России Сергея Русскина.
                  <br />
                  Запись чтения 10 книги с комментариями переводчика.
                  <br />
                  Запись чтения статьи знаменитого бенгальского философа и богослова Бхактивинода Тхакура "Бхагавата Пурана. Её философия, этика и теология".
                  <br />
                  Аудиоверсии с 1-ой по 10-ую книгу Шримад Бхагаватам доступны по адресу: http://bharati.ru
                  <br />
                  <br />
                  <p><h3>В диск вошли:</h3></p>
                  <p>
                      <ul>
                          <li>
                            Аудиоверсии 8 и 9 книг в исполнении заслуженного артиста России Сергея Русскина.
                          </li>
                          <li>
                            Запись чтения 8 и 9 книг с комментариями переводчика.
                          </li>
                          <li>
                            Запись чтения статьи знаменитого бенгальского философа и богослова Бхактивинода Тхакура "Бхагавата Пурана. Её философия, этика и теология". 
                          </li>

                          <li>
                              <p class="go_to_site">
                              Аудиоверсии с 1-ой по 10-ую книгу Шримад Бхагаватам доступны по адресу:
                                  <a href="http://bharati.ru/audios/books/Vaishnava" target="_blank">http://bharati.ru/audios/books/Vaishnava</a>
                              </p>
                          </li>
                      </ul>
                      
                  </p>
                  <br />
                  <br />
                  <div id="download_books">
                      <p><h3>Электронные книги в формате PDF:</h3></p>
                      <ul>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_1_2.pdf" target="_blank"> Книга 1 "Игра Безусловной Красоты" и Книга 2 "Бытие" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_3.pdf" target="_blank"> Книга 3 "Книга Мудрецов" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_4.pdf"  target="_blank"> Книга 4 "Книга Царств" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_5.pdf"  target="_blank"> Книга 5 "Числа" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_6-7.pdf"  target="_blank"> Книга 6 "Первозаконие" и Книга 7 "Книга Судеб" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_8-9.pdf"  target="_blank"> Книга 8 "Становление" и Книга 9 "Поколения" </a>
                          </li>
                          <li>
                              <a href="../pdf/Shrimad_Bhagavatam_book_10.1.pdf"  target="_blank">Книга 10 "Песнь Песней", часть первая</a>
                          </li>
                      </ul>
                  </div>
              </p>
              <br />
              <br />
              <br />
          </div>

          <div id="pics">
              <div class="gal">
                  <p><h3> Галерея </h3></p>
              </div>
              <div class="block galery">
                  <a id="navadvip" href="images/about/SCSMath_Navadvip_1.jpg" title="Шри Чайтанья Сарасват Матх, Навадвип, Индия">
                      <img src="images/about/small/SCSMath_Navadvip_1_min.jpg" />
                  </a>
                  <a id="navadvip" href="images/about/SCSMath_Navadvip_2.jpg" title="Шри Чайтанья Сарасват Матх, Навадвип, Индия">
                      <img src="images/about/small/SCSMath_Navadvip_2_min.jpg" />
                  </a>
                  <a id="navadvip" href="images/about/SCSMath_Navadvip_3.jpg" title="Шри Чайтанья Сарасват Матх, Навадвип, Индия">
                      <img src="images/about/small/SCSMath_Navadvip_3_min.jpg" />
                  </a>
              </div>

              <div class="block galery">
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_1.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_1_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_2.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_2_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_3.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_3_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_4.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_4_min.jpg">
                  </a>
              </div>

              <div class="block galery">
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_5.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_5_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_6.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_6_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_7.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_7_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_8.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_8_min.jpg">
                  </a>
                  <a id="shridhar_mj" href="images/about/B.R.Shridhar_Maharaj_9.jpg" title="Бхакти Ракшак Шридхар Свами">
                      <img src="images/about/small/B.R.Shridhar_Maharaj_9_min.jpg">
                  </a>
              </div>

              <div class="block galery">
                  <a id="govinda_mj" href="images/about/common_1.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/common_1_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/common_2.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/common_2_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/common_3.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/common_3_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/common_4.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/common_4_min.jpg" />
                  </a>
              </div>

              <div class="block galery">
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_1.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_1_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_2.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_2_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_3.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_3_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_4.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_4_min.jpg" />
                  </a>
              </div>

              <div class="block galery">
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_5.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_5_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_6.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_6_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_7.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_7_min.jpg" />
                  </a>
                  <a id="govinda_mj" href="images/about/B.S.Govinda_Maharaj_8.jpg" title="Бхакти Сундар Говинда Махарадж">
                      <img src="images/about/small/B.S.Govinda_Maharaj_8_min.jpg" />
                  </a>
              </div>

              <div class="block galery">
                  <a id="bharati_mj" href="images/about/Bharati_Swami_1.jpg" title="Б.Ч. Бхарати Свами">
                      <img src="images/about/small/Bharati_Swami_1_min.jpg">
                  </a>
                  <a id="bharati_mj" href="images/about/Bharati_Swami_2.jpg" title="Б.Ч. Бхарати Свами">
                      <img src="images/about/small/Bharati_Swami_2_min.jpg">
                  </a>
                  <a id="bharati_mj" href="images/about/Bharati_Swami_3.jpg" title="Б.Ч. Бхарати Свами">
                      <img src="images/about/small/Bharati_Swami_3_min.jpg">
                  </a>
                  <a id="bharati_mj" href="images/about/Bharati_Swami_4.jpg" title="Б.Ч. Бхарати Свами">
                      <img src="images/about/small/Bharati_Swami_4_min.jpg">
                  </a>
                  <a id="bharati_mj" href="images/about/Bharati_Swami_5.jpg" title="Б.Ч. Бхарати Свами">
                      <img src="images/about/small/Bharati_Swami_5_min.jpg">
                  </a>
              </div>
          </div>

              <div class="logos go_to_site">
                  <div>
                      <a href="http://bharati.ru" target="_blank"><img class="logo" src="images/bharati_ru_logo.png" /></a>
                      <br />
                      <p>
                       &nbsp;&nbsp;&nbsp;&nbsp;Аудио- и видеоматериалы, онлайн-конференции,
                        <br />последние версии книг, переведенных Бхарати Свами,
                        <br />и многие другие материалы
                      </p>
                      <a href="http://bharati.ru" target="_blank">www.bharati.ru</a>
                  </div>
                   
                   <div>
                      <a href="http://saraswata.ru" target="_blank"><img class="logo" src="images/saraswata_ru_logo.png" /></a>
                      <p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ведическая&nbsp;культура:&nbsp;сокровища&nbsp;древних&nbsp;писаний
                      </p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://saraswata.ru" target="_blank">www.saraswata.ru</a>
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                     <br/ >
                  </div>

                   <br/ >
                   <br/ >
                   <br/ >
                   <br/ >
                   <br/ >


                  <div>
                      <a href="http://bhagavata.ru" target="_blank"><img class="logo" src="images/bhagavata_ru_logo.png" /></a>
                      <p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сайт,&nbsp;посвященный&nbsp;Шримад&nbsp;Бхагаватам
                      </p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://bhagavata.ru" target="_blank">www.bhagavata.ru</a>
                  </div>
                                                       <div>
                      <a href="http://www.harekrishna.ru" target="_blank"><img class="logo" src="images/logo.png" /></a>
                      <p>
                          <h3>Сайты&nbsp;Шри&nbsp;Чайтанья&nbsp;Сарасват&nbsp;Матха:</h3>
                          <a href="http://www.scsmath.com" target="_blank">www.scsmath.com</a>
                          <br />
                          <a href="http://www.harekrishna.ru" target="_blank">www.harekrishna.ru</a>
                      </p>
                  </div>
              </div>

          </div>
  </body>
 
</html>
