<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">

    <title>Шримад Бхагаватам. Неизреченная Песнь Безусловной Красоты</title>
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="screen" href="css/app.css">
    

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/about_sb.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.jScale.js"></script>
    
  </head>

  <body>
      <div id="books-menu">
          <ul>
              <li><a href="book.html#Lections/34"><img src="images/button_book10.png" /></a></li>
          </ul>
      </div>
      <div id="main">
          <div id="sb_menu">
              <ul>
                  <li><a href="about_sb.html" class="active">О Шримад Бхагаватaм</a></li>
                  <li><a href="about.html">О диске</a></li>
                  <br />
              </ul>
          </div>

          <div id="top_menu">
          </div>

          <div id="nav">
              <span>Части:</span>
              <ul>
                  <li><a href=""><b></b><i></i>1</a></li>
                  <li><a href="#"><b></b><i></i>2</a></li>
                  <li><a href="#"><b></b><i></i>3</a></li>
              </ul>
          </div>
 
          <div id="title"></div>

          <div id="content">
              <div id="item">
                  <div id="player" class="player">
                  </div>

                  <div id="notes">
                      <ul>
                      </ul>
                  </div>
              </div>

              <div id="image"><img src="" /></div>
          </div>
       </div>

       <div id="aboutSbNotes" class="hide">
"00:00  Революционная идея Шрилы БхактивинодаТхакура
02:00  Повесть о Всевышнем и высшей преданности
03:40  Творческое развитие темы – живые мысли
05:00  Красота идеи в бесконечном развитии мысли
07:50  Враги идеи
08:50  Две крайности: пересказ и разрушение идеи
11:40  Шримад Бхагаватам – динамичное развитие идеи
15:35  Красота не есть свод законов; она – вечно живая
17:35  Христианство – реформированный иудаизм
18:40  Бхагавата и философский мир
21:30  Рам Мохан Рой – великий философ 19-го столетия
26:30  Возрождение учения Бхагаватам
28:25  Совершенная истина
32:55  Краткая биография Шрилы БактивинодаТхакура
37:10  Христианство и Вайшнавизм. Теология и философия
44:30  Разные точки зрения на Бхагаватам
46:30  Бхагавата – «сочный плод», созревший на древе божественной мысли
48:30  Сокровенное знание, предназначенное для избранных
52:30  Преумножение знания
54:20  Три фундаментальные истины: самбандха, абхидхейа, прайоджана
55:55  Самбандха – существование Единого Бога, природа Которого – «Сам по Себе» и «Сам для Себя»
56:25  Пространство и время – фундаментальные понятия
01:05:40  Главная функция иллюзии – сокрытие истины от наблюдателя
01:07:35  Идеализм и дуализм
01:10:00  Прогресс живого существа – вечный поиск счастья
01:19:20  Освобождение – избавление от рабства материи. Самбандха-гйана – знание отношений Целого и части
01:20:15  Различие и сходство материалистов и идеалистов
01:21:01  День явления Шрилы Прабхупады Бхактисиддханты Сарасвати Тхакура",
"00:00  Бхагавата и её вымышленные «версии»
01:30  Литературная преемственность Бхагаваты
04:25  Мольба Вайшнавов о милости. Молитвы Прахлады Махараджа
07:25  Майавада – доктрина иллюзорного и относительного характера всего сущего
09:55  Отличие учения Бхагаваты от иных религиозныхучений
12:40  Лжеучения и доказательства. Истина неподвластна разуму и логике
14:43  Абсолютный и относительный миры
17:25  Два препятствия на пути искателей Истины: «Бога нет» и «Бог есть всё сущее»
23:03  Бог пребывает везде, но не всё есть Бог. Опосредованная причина
24:20  Относительное предполагает существование Абсолютного
28:20  Истина – Верховное Существо, в котором сосуществуют и согласуются все качества
30:10  Любовь мирская и божественная. Бог в Своей высшей ипостаси – Шйамасундара
31:40  Высшая цель последователей истины представляется смехотворной недалёким критикам
34:45  Боговдохновенные религии и философии
36:35  Описание Бхагаваты. Высшая форма религиозного поклонения
41:55  Философия анализа (санкхйа)
44:55  Абсолютная религия
48:35  «Бог Любви» – высшее понятиеБога. Духовный путь
52:20  Сахаджийаизм  - воображение Безусловной Красоты
57:45  Свобода выбора и саморазвитие
59:10  Голоса совести и рассудок
01:01:35  Недовольство Вйасы
01:04:05  Бхагаватам – «сочный плод», созревший на древе мудрости
01:06:45  Сараграхи Вайшнав – тот, кто чувствует Истину душой
01:09:40  Предмет Бхагаваты непрост для для понимания
01:10:15  Шридхара Свами, Вйаса, Нарада
01:15:00  Универсальный характер Бхагаваты
01:16:00  Диалектическое развитие понятия 'Бог'",
"00:00  Маха-мантра. Хришикеша – повелитель наших чувств
04:30  Введение к лекции Шрилы БхактивинодаТхакура
05:50  Самбандха – знание своего положения на местности. Бандха – «узел» или «связь»
08:55  Абхидхейа – знание о том, что необходимо делать в настоящий момент
12:40  Бхагавата для широких масс.  Идеология гуманизма
14:40  Три способа поклонения Богу.Три ипостаси Бога: Брахман, Параматма, Бхагаван
16:00  Диалектика Гегеля в философии Гаудийа Вайшнавизма - тезис, антитезис и синтез
23:00  Бхагавата и путь бхакти. Бхагавата – настольная книга всех богословов
25:20  Бхакти - благочестие, преданность, смирение, духовная любовь
31:50  Самоценность Истины Бхагаватам
39:50  Предметный указатель или комплекс названий мира Любви
49:25  Материя – словарь духа. Вечное среди временного; суть среди формы
55:40  Мир иллюзии – наш учитель
57:35  Мир чарующей поэзии, вечной музыки и сладостного танца"
       </div>
  </body>
</html>
