<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">

    <title>Шримад Бхагаватам. Неизреченная Песнь Безусловной Красоты</title>
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="screen" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/fancy.css" />
    

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/book.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.jScale.js"></script>
    
  </head>

  <body>
      <div id="books-menu">
          <ul>
              <li><a href="book.html#Lections/34"><img src="images/button_book10_active.png" /></a></li>
          </ul>
      </div>
      <div id="main">
          <div id="sb_menu">
              <ul>
                  <li><a href="about_sb.html">О Шримад Бхагаватaм</a></li>
                  <li><a href="about.html">О диске</a></li>
                  <br />
              </ul>
          </div>

          <div id="top_menu">
              <ul>
                  <li><a href="#Lections/34">Чтение с комментариями</a></li>
                  <li><a href="#AudioBook/34">Аудиокнига</a></li>
              </ul>
          </div>

          <div id="nav">
              <span>Главы:</span>
              <ul> </ul>
          </div>

          <div id="title"></div>
          <div id="content">
              <div id="item">
                 <div id="player" class="player"></div>

                 <div id="notes">
                   <ul> </ul>
                 </div>
              </div>
              <div id="image" class="image"><img src="" /></div>
          </div>
       </div>


  </body>
</html>
