<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">

    <title>Шримад Бхагаватам. Неизреченная Песнь Безусловной Красоты</title>
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="screen" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/fancy.css" />
    

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/book.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.jScale.js"></script>
    
  </head>

  <body>
      <div id="books-menu">
          <ul>
              <li><a href="book.html#Lections/34"><img src="images/button_book10_active.png" /></a></li>
          </ul>
      </div>
      <div id="main">
          <div id="sb_menu">
              <ul>
                  <li><a href="about_sb.html">О Шримад Бхагаватaм</a></li>
                  <li><a href="about.html">О диске</a></li>
                  <br />
              </ul>
          </div>

          <div id="top_menu">
              <ul>
                  <li><a href="#Lections/1">Чтение с комментариями</a></li>
                  <li><a href="#AudioBook/1">Аудиокнига</a></li>
              </ul>
          </div>

          <div id="nav">
              <span>Главы:</span>
              <ul> </ul>
          </div>

          <div id="title"></div>
          <div id="content">
              <div id="item">
                 <div id="player" class="player"></div>

                 <div id="notes">
                   <ul> </ul>
                 </div>
              </div>
              <div id="image" class="image"><img src="" /></div>
          </div>
       </div>

<div id="book10_notes" class="hide">
<p>
00:00 Краткий обзор девятой книги Бхагаватам
01:42 Рождение Кришны
04:23 Парикшит рассказывает о великом сражении
08:16 Первая ипостась Всевышнего
09:30 История Рохини — жены Васудевы, из лона которой вышел Баларама
10:23 Вопросы Царя Парикшита
13:15 Изнеможенная матушка Земля обратилась к Всевышнему
16:52 Переселение Шурасены в Матхуру. Свадьба Васудевы
19:14 Страх смерти злонравного Камсы
20:24 Нравоучения и здравомыслие Васудевы
29:58 Рождение первенца, Киртимана, у Деваки и Васудевы
31:20 Четыре вещи, в которых можно быть совершенно уверенным
32:17 Воплощение богов на Земле. Злодеяния Камсы
34:41 Коварство Нарады Муни
35:44 Ощущение времени. Срок жизни в разные эпохи
</p> 

<p>
00:00 Правление демона Камсы
00:57 Свирепый Камса бросился теснить потомков Яду
02:15 Воплощение Всевышнего и его энергии наслаждения Богини Дурги
04:02 Разнообразные имена внутренней энергии Господа, Матери мира
07:38 Сомнения и размышления Камсы
08:53 Молитвы властителей Вселенной Всевышнему
12:46 Всевышний в облике наставника учит своих тварей жить по закону
16:50 Облики (аватары) Всевышнего
</p>

<p>
00:00 Рождение Кришны. Собрание всех богов, волхвов, мудрецов
02:59 Могущественный и прекрасный четырехрукий облик Всевышнего
04:21 Молитва Васудевы. 07:32 Природа окружающего мира
11:29 Непостижимая природа Всевышнего
20:52 Природа времени
21:18 Прошлые жизни Деваки и ее мужа
23:43 Аскезы патриархов вселенной
27:19 Главное качество Всевышнего — неотразимость
32:06 Подмена детей Васудевой
38:08 У Господа нет определенных качеств
</p>

<p>
00:00 Обзор предыдущих глав
03:06 Злодеяния Камсы
05:12 Дурга — Матерь Мира — предстала в своем истинном облике
06:41 Раскаяние и нравоучение Камсы
10:20 Рассуждения лукавых демонов
13:06 Неужели Вишну зависит от праведников? 
15:13 Тело Всевышнего, Вишну, — вират-рупа
17:07 Исполнение злой воли Камсы
</p>

<p>
00:28 Нанда — главный пастух, предводитель вольного племени
02:26 Праздник по случаю рождения Кришны во Врадже
09:28 Щедрые жертвоприношения Нанды
10:09 Четыре вида дваждырожденных, брахманов
11:54 Нанда отправился заплатить годовую подать Камсе. Встреча с Васудевой
</p>

<p>
00:00 Путь Нанды домой
00:49 Мнимая красота Путаны. Смерть ведьмы от Кришны
05:39 Жители Враджи пытались защитить Кришну разнообразными обрядами
09:22 Возвращение Нанды домой. Сожжение ведьмы
</p>

<p>
00:00 Краткий обзор предыдущих глав
01:10 Младенческие годы Кришны
05:25 Гимны и благословения Кришны
06:28 Проделки Кришны. Оборотень Тринаварта
10:25 Изумление Нанды. Тревожные предостережения Васудевы
11:57 «Вират-рупа» — вселенская форма Всевышнего
</p>

<p>
00:00 Наречение именами сыновей Яшоды и Рохини. Кришна и Баладева
05:48 Проступки Кришны. Жалования пастушек
08:14 Все бытие во рту Кришны
11:02 Первые живые существа на Земле. Сошествие Всевышнего
</p>

<p>
00:00 Месяц Дамодара
03:19 Необъятность Господа. Преданность — то, что привлекает Бога
04:31 Яшода, Необъятный Кришна и ступа
07:11 Пастушки Гокулы. Кришна и везучая Яшода
07:56 Два дерева: Арджуна и Ямала. Прошлые жизни и их спасение
</p>

<p>
00:00 История Налакувары и Манигривы
01:52 Нравоучения Нарады Муни
04:31 Плоть и ее гибель. Самолюбие и насилие
06:00 Чувство собственности и ответственности
07:42 Излечение от гордыни. Воздержание и нищета
08:38 Старость, ее преимущества и недостатки
12:06 Молитва Налакувары и Манигривы Кришне
15:50 Цель мироздания — доставление удовольствия Кришне
</p>

<p>
00:00 Удивление пастухов и счастье Нанды
01:39 Детские годы Кришны в Гокуле
02:33 Драгоценности Кришны
07:32 Отъезд жителей Гокулы во Вриндаван
10:42 Битва между Кришной и демоном, принявшим облик теленка
12:06 Сражение оборотня-людоеда и цапли Бака с Кришной
14:42 Пророчество Гарги
</p>

<p>
00:00 Краткий обзор одиннадцатой главы. Неодолимый Кришна
01:42 Трапеза Кришны и Баладевы в лесу. 
04:49 Кришна — счастье собственной персоной
05:58 Оборотень Агха
07:58 Размышления юных пастухов
09:22 Бесстрашие пастухов, Кришны и Баладевы
10:49 Кришна в пасти злобного змея
12:36 Вселенский праздник
14:06 Субъективное видение событий
</p>

<p>
00:00 Великое заблуждение Брахмы. Противоречие Мадхавы Ачарьи и Господа Чайтаньи
02:12 Два вида иллюзии: внутренняя (йога-майя) и внешняя (маха-майя)
04:21 Признаки человека, понявшего смысл жизни, и человека, мучающегося страхом смерти
07:38 Трапеза пастушат и Кришны
10:27 Пропажа телят и товарищей Кришны. Мысленное коварство Брахмы
12:15 Множественные облики Кришны
27:00 Свита Всевышнего: 8 тайных сил, 24 стихии и Нерожденный
30:14 Прозрение Брахмы. Прекрасная Реальность
</p>

<p>
00:00 Действия Кришны в предыдущей главе
04:00 Раскаяние Брахмы в лесу Вриндавана. Брахма-самхита — песнь Брахмы о Прекрасной Реальности
08:12 Творец и Бог — разные личности
19:36 Мудрость бесполезна перед преданностью
23:22 Несчастья укрепляют веру во Всевышнего
24:51 Творческие личности рождены для страсти, но пребывают в невежестве
31:10 Кришна — источник всего. Откуда появился Кришна? 
33:53 Три выдуманных обманчивой силой Всевышнего образа: Брахма, Вишну и Шива
41:02 Духовный рост - оголение перед ликом Всевышнего
44:36 Санкхья-йога — путь исчисления
45:16 Милость Всевышнего выше рассудительности, выше мудрости
48:29 Одиннадцать богов олицетворяют одиннадцать чувств
49:52 Брахма — бог мышления. Шива — бог самомнения
52:12 Отсутствие преданности — величайшее несчастье
54:06 Возвращение пастушат и телят
59:38 Гордое себялюбие и радостная любовь
01:02:10 Душа — самое дорогое, что у нас есть
</p>

<p>
00:00 Кришна и Баларама на берегу реки Ямуны
05:50 Просьба юных пастушков
07:23 Пальмовая чаща и демон Дхенука. Кровавая битва Кришны и Баладевы
11:18 Конфликт Кришны и Шримати Радхарани
12:32 Возвращение пастушков домой
14:02 Кришна на берегу отравленной реки
14:55 Чудное воскрешение пастухов и коров
16:10 Краткий обзор следующей главы
</p>

<p>
00:00 Отравленный приток Ямуны — Калинди
01:38 Битва Кришны и змея Калии. Дерево Кадамба
12:18 Танцы Шри Кришны на головах обессиленного змея
17:06 Почему у Господа нет ни друзей, ни врагов? 
17:52 Законы физического и метафизического мира
24:23 Имена и качества Кришны
26:13 Три состояния материальной природы. Скорость вращения времени
28:15 Чем человек в благости отличается от человека в невежестве? 
29:34 Природа змей. Святая вода Калинди. Освобождение змея Калия
36:33 Откуда произошли драконы?
</p>

<p>
00:00 Предисловие
02:56 Каким образом Калия оказался во Вриндаване
03:43 Обычай в краю змей. Калия нарушает обычай
04:47 Царь-птица разгневался на Калию
05:36 Бегство Калии
05:39 Проклятие Субхари
07:01 Кришна побеждает Змея
08:57 Лесной пожар
</p>

<p>
11:03 Описание природы Враджи
13:30 Кришна и пастушки играют в лесу Вриндавана
16:01 Кришна замечает демона Праламбу
19:28 Праламба являет свой истинный вид
19:58 Баладева уничтожает Праламбу
</p>

<p>
01:55 Слава и хвала Баларамы. Праздник победы 
03:28 Поиск потерянного стада 
05:22 Пожар в лесу
07:38 Возвращение пастушков, Кришны и Баладевы во Враджу  
</p>

<p>
00:00 Взаимосвязь между главами Бхагаватам
01:45 Мужская и Женская природа
01:39:11  Что такое голос совести?
01:42:05  Должны ли мы стремиться к качествам женщины в духовном мире?
01:44:02  Что такое самбандха-гьяна?
01:44:27  Кто такой вайшнав?
01:45:48  Что такое беспричинная милость?
01:47:12  Кто такие "беспримесные" преданные? Примеры примесей: карма, гьяна
01:51:55  Потери на Курукшетре. Земной пласт бытия
01:55:51  Обряды инициации
01:56:21  Откуда можно черпать вдохновение для служения?
01:57:06  Что такое према-бхакти? Разные вкусовые примеси Любви
01:59:40  Наследие наших учителей и проповедников
</p>

<p>
00:00 Наступление осени. Тайная любовь пастушек к Кришне 
03:17 Зависть пастушек к свирели Кришны 
04:13 Чарующая мелодия Неотразимого 
06:52 Гора Говардхана
</p>

<p>
00:00 Обряд поклонения и молитвы пастушек к Матери мира
01:27 Чуткость Кришны к своим возлюбленным
01:53 Кришна похитил одежды пастушек
03:03 Диалог между непреклонным Кришной и замерзшими пастушками
05:44 Неописуемое счастье и беспредельная преданность пастушек
09:23 Пастухи с Кришной отправились на Ямуну
12:58  Два вида служения, два вида общества
16:13  Устройство материального мира. Закон кармы
17:42  Отличие духовного мира от материального
</p>

<p>
00:00 Краткий обзор предыдущей главы
00:41 Голод пастушков и смекалка Кришны
11:38 Счастливая участь "несчастной" пастушки
12:09 Трапеза Кришны. Сомнения и раскаяние ученых мужей
17:19  Почему брахманы не узнали Всевышнего?
23:33  Внешняя красота Кришны
25:07  Некрасивые поступки Кришны. Сумасшествие Махапрабху
27:16  История одного безумия
</p>

<p>
00:00  Художественная часть Шримад-Бхагаватам
02:15  Сверхсубъект и субъект
03:58  К чему нас заставляет стремиться Красота?
04:24  Что делает и чем живет Красота?
06:11  Что ищет каждая душа?
07:48  О чем идет речь в предыдущих книгах Бхагаватам?
10:53 Приготовление к жертвоприношению
12:00 Жажда знаний. Преддверие Бхагавад Гиты
13:06 Великий громовержец Индра
14:14 Жертвоприношение и результат жертвы. Обычай почтения Индры
22:20 Верность долгу — залог благополучия. Сословия и виды деятельности
23:02 Три состояния зримого мира. Творение Вселенной
27:05 Гора Говардхана. Сокрушитель сомнений. Поход на Говардхану
</p>

<p>
00:00 Гнев Индры. Потоп, ветер и гром во Врадже
07:01 Молитва жителей Враджи
07:50 Вайшнавы — Его народ. Речь Всевышнего, Кришны
10:27 Окончание потопа. Торжество во Врадже во имя славы Кришны
11:54 Кто такие волхвы, видьядхары? Что представляет собою Вселенная?   
14:24 Кто такие аспиды, змеи?      
15:04 Процесс сотворения Брахмой форм жизни. Иерархия живых существ
16:02 Живые существа в облике людей
16:54 Дхрува — полярная звезда. Стопы Вишну
17:54  В играх Кришны есть смысл?
20:19  Во Вселенной один Творец?
24:38  Справедливый и милосердный Бог
26:52  Различные виды освобожденных душ
29:47  Воспитание веры в себе. Тернистый путь испытаний
34:29  Чудо-камни. Видение святых
36:28  Что такое совесть? Где она присутствует?
</p>

<p>
00:00 Собрание пастухов в доме Нанды. Сверхъестественные силы Кришны
00:49 Истории из детства Кришны
02:57 Догадки жителей Враджи
03:30 Пророчество Гарги. Явление Всевышнего
06:02 Встреча Гарги Муни, учителя рода Куру, с Нандой и Яшодой
09:20 Почему боги родились в семье пастухов?   
09:51 Царские семьи и дети. Кришна и Баларама
10:31 Зачем Кришна приходит на Землю?   
11:50 Воплощение Единосущего Бога, Нараяны. Разгадка тайны Кришны
12:50 Современная индийская мафия, молочная мафия Нанды
</p>

<p>
00:03 Холм Говардхана
03:25 Земной пласт бытия. Бхарата-варша. Область Кармы
06:35 Гималаи — золотые горы. Проекции, макеты Земли
08:04 Потусторонние миры. Илаврита и Бхарата
10:38 Раскаяние Индры. Природа вещественного мира
13:12 Что такое судьба? Как она работает?   
14:30 Что такое высшая свобода?    
16:16 Синтез свободы и рабства
17:04 Природа Всевышнего
17:30 Чему поклоняются и чего желают кришнаиты?   
18:40 Кем воплотится тот, кто пройдет весь путь?   
20:06 Иллюзия власти Индры, Зевса. Молитва громовержца
24:33 Художественное описание десятой книги Бхагаватам
28:43 Сильные мира сего. Истинный погонщик вселенского стада
31:56 Омовение Говинды. Возвращение Индры в свою обитель   
32:30 Краткий обзор следующей главы: Кришна спасает Нанду из обители Варуны
33:15  Какие взаимоотношения между Кришной и Нарадой?
34:24  История Васудевы и Деваки с Камсой и Нарадой
36:55  Нарада — преданный Баларамы, проявление действующего Кришны
</p>


<p>
00:00 Краткий обзор предыдущей главы
01:42 Кто такой Варуна?            
02:32 Вода — главная стихия
03:53 Нанда утонул в Ямуне
04:26 Изумление пастухов и помощь Кришны
05:04 Молитва смиренного Варуны
05:57 Спасение Нанды из водного царства
07:11 Догадки пастухов о Всевышнем
08:21 Безграничная милость Кришны. Лучезарное царство Красоты
</p>

<p>
00:20 Формат публичных лекций по Шримад Бхагаватам
03:08 Наступление осени во Вриндаване
04:45 Непреодолимое влечение пастушек к Кришне
07:20 Как достичь Запредельной обители?   
10:25 Основной долг женщины
11:39 Что ждет женщину за измену супругу?   
12:18 Речи Кришны опечалили и обидели пастушек
13:19 Молитва влюбленных пастушек
17:09 Сошествие Милосердного
18:12 Хоровод пастушек с Кришной в лесной роще
</p>

<p>
00:00 Разочарование горделивых пастушек. Воспоминание о подвигах Кришны
00:54 Поиск Шри Кришны среди деревьев и цветов
04:08 Пастушки принялись изображать Кришну
07:35 Следы Кришны и Его возлюбленной
10:28 Стенания возлюбленной Кришны. Сострадание пастушек
11:09 Изумительный рассказ горделивой подружки
11:35 Горе обессиленных пастушек. Прославление своего Любимого
14:56  Перевод Чайтанья-Чаритамриты и редактирование Шримад Бхагаватам
15:56  Поддержание мира и наслаждение Кришны
18:51  Кришна — учредитель, физическое лицо. Вишну — юридическое лицо
22:10  Кришна — вселенский магнит
24:44  Жизнь в движении к Прекрасному
26:44  Принцип: "Умереть, чтобы жить"
27:34  Почему Кришну называют Супругом богини Удачи?
</p>

<p>
00:00 Краткое повествование предыдущих событий
03:46 Мольба деревенских девушек
07:17 Описание качеств Шри Кришны
10:49 Полное самопредание пастушек
</p>

<p>
00:00 Кришна вернулся к пастушкам
01:13 Неописуемое счастье пастушек
04:45 Всевышний говорит о Любви
</p>

<p>
00:00 Танец пастушек с Кришной
07:00 Игры Кришны и пастушек в реке
08:53 Неужели Бога может коснуться грех?   
09:42 Кришна — Верховный Законодатель. Подражание Богу
11:00 Бескорыстная деятельность. Что такое злодеяние?  
12:00 Кого можно назвать безгрешным?  Где нам найти истинного садху?   
17:45 Подлинная преданность. Мужское и Женское начало
19:00 Подражательство — сахаджия
19:49 Кто для нас Кришна?          
22:55 Типичный пример сахаджии — Мира Баи
25:16 История с Шивой и женским обликом Кришны
28:08 История про ангела и Шиву
29:10 Майя, Бхавани, — каждая женщина
30:13 Законодатель и закон
31:30 Жизнь вне добра и зла
33:35 Истинный облик Кришны. Очаровательная сила Кришны
35:58 Как излечиться от похоти?
</p>
</div>

  </body>
</html>
